body {
    background-color: aliceblue;
}

header {
    margin-bottom: 60px;
}

hr {
    border: 1px blue solid;
}

#feature {
    border: 1px silver solid;
}

img {
    float: right !important;
}

#error {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
