body {
    background-color: aliceblue;
}

body a:hover {
    color: black !important;
}

hr {
    border: 1px blue solid;
}

img {
    float: right !important;
}

#error {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

header .fa-bars,
header .fa-times,
[type=checkbox] {
    /* on masque le menu qui servira pour la version mobile/tablette */
    display: none;
}


/* Tout type d'écran dont la largeur fait au maximum 768px), type tablette */

@media all and (max-width: 767px) {

    /* Menu de navigation */
    header .fa-bars {
        display: block;
        font-size: 2em;
        cursor: pointer;
        margin-top: 10px;
        color: grey;
    }

    header .fa-times {
        display: none;
        font-size: 2em;
        cursor: pointer;
        color: grey;
    }

    header .list_menu {
        /* On masque le menu  */
        display: none;
    }

    #menu_hamburger:checked ~ .list_menu {
        /* on affiche le menu déroulant lorsqu'on coche "la case" du menu hamburger */
        display: block;
    }

    .list_menu li {
        border-bottom: 1px solid silver;
        line-height: 2em;
        font-size: 1.5em;
        text-align: left;
    }

    #footer_title {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .date_modif {
        display: none;
    }

}

/* Tout type d'écran dont la largeur fait au maximum 360px), type mobile */

@media all and (max-width: 360px) {

    #footer_title {
        font-size: 12px;
    }

    .img-thumbnail {
        display: none;
    }

    #chapter_table {
        font-size: 13px !important;
    }

    #table_title {
        font-size: 20px;
    }

    #text_field {
        width: auto !important;
    }
    
    .dropdown-menu {
        font-size: 10px !important;
    }
}
